/server/venv
/static/node_modules
/server/publishing
/server/a.xml
/server/nofilter.html
/server/output.html
/server/app/__pycache__
/server/nofilter.html
/server/output.html
/server/a.xml
/server/last.txt
server/__pycache__/config.cpython-37.pyc
server/app/__pycache__/models.cpython-37.pyc
server/app/__pycache__/routes.cpython-37.pyc
server/app/__pycache__/__init__.cpython-37.pyc
server/app/__pycache__/models.cpython-37.pyc
server/app/__pycache__/routes.cpython-37.pyc
server/app/__pycache__/routes.cpython-37.pyc
server/app.db
static/dist/main.js
server/app/__pycache__/models.cpython-37.pyc
server/app/__pycache__/routes.cpython-37.pyc
server/app.db
