
.article {
	font-family: sans-serif;
}

.item {
	border-style: solid;
	border-color: green;
	height: 180px;
	width: 100px;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-family: sans-serif;
	word-wrap: break-word; 
	border-width: 1px;
	vertical-align: top;
}

.selected {
	border-color: green;
}

.unselected {
	border-color: red;
}