.item-selected {
	border-style: solid;
	border-color: green;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	font-family: sans-serif;
	word-wrap: break-word; 
}

.item-unselected {
	border-style: solid;
	border-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	font-family: sans-serif;
	word-wrap: break-word; 
}

.article {
	font-family: sans-serif;
}